/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilos para la lista de clientes */
.listado-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.listadoClientes {
    list-style: none;
    padding: 0;
}

.listadoClientes li {
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
form {
    display: block;
    margin: 2em 250px;
}

.formulario-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.registrarse {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    /* Agrega un color de fondo al formulario */
    margin-top: 30px;
    /* Añade un margen superior para separarlo del listado de clientes */
}

h1 {
    margin-bottom: 10px;
    text-align: center;
    /* Alinea el título del formulario */
}
p {
    margin-bottom: 10px;
    text-align: center;
   
}

input[type="date"],
input[type="text"],
input[type="number"],
button {
    width: calc(100% - 22px);
        /* Ajusta el ancho para considerar el padding y border */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    
   
}

button {
    background-color: #0a2e55;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
/* Media query para dispositivos móviles */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}